<!DOCTYPE html>
<html>
	<head>
		<title>
			REGISTER/LOGIN
		</title>
	</head>
	<body>
		<table border>
			<tr>
				<td><img src="C:\\Users\\adars\\OneDrive\\Desktop\\SpringProjects\\OTPAuthentication\\src\\main\\resources\\templates.img1.png" alt="noimage1" height="200" width="200"/></td>
				<td><img src="C:\\Users\\adars\\OneDrive\\Desktop\\SpringProjects\\OTPAuthentication\\src\\main\\resources\\templates.img1.png" alt="noimage1" height="200" width="200"/></td>
				<td><img src="C:\\Users\\adars\\OneDrive\\Desktop\\SpringProjects\\OTPAuthentication\\src\\main\\resources\\templates.img1.png" alt="noimage1" height="200" width="200"/></td>
			</tr>
			<tr>
				<td><img src="C:\\Users\\adars\\OneDrive\\Desktop\\SpringProjects\\OTPAuthentication\\src\\main\\resources\\templates.img1.png" alt="noimage1" height="200" width="200"/></td>
				<td><img src="C:\\Users\\adars\\OneDrive\\Desktop\\SpringProjects\\OTPAuthentication\\src\\main\\resources\\templates.img1.png" alt="noimage1" height="200" width="200"/></td>
				<td><img src="C:\\Users\\adars\\OneDrive\\Desktop\\SpringProjects\\OTPAuthentication\\src\\main\\resources\\templates.img1.png" alt="noimage1" height="200" width="200"/></td>
			</tr>
			<tr>
				<td><img src="C:\\Users\\adars\\OneDrive\\Desktop\\SpringProjects\\OTPAuthentication\\src\\main\\resources\\templates.img1.png" alt="noimage1" height="200" width="200"/></td>
				<td><img src="C:\\Users\\adars\\OneDrive\\Desktop\\SpringProjects\\OTPAuthentication\\src\\main\\resources\\templates.img1.png" alt="noimage1" height="200" width="200"/></td>
				<td><img src="C:\\Users\\adars\\OneDrive\\Desktop\\SpringProjects\\OTPAuthentication\\src\\main\\resources\\templates.img1.png" alt="noimage1" height="200" width="200"/></td>
			</tr>
		</table>
	</body>
</html>