<!DOCTYPE html>
<html>
	<head>
		<title>
			Register/Login
		</title>
	</head>
	<body>
		<form action="/Register" method="post">
			<label>NAME: </label><input type="text" name="un" required autofocus/>
			<label>AGE:</label><input type="text" name="ua" required>
			<label>EMAIL:</label><input type="text" name="ue" required>
			<label>PHONE:</label><input type="text" name="up" required>
			<label>PASSWORD:</label><input type="text" name="upwd" required>
			<input type="SUBMIT" value="SIGN UP"/>
		</form>
		<p>ALREADY REGISTERED ?<a href="http://localhost:9090/login">SIGN IN</a></p>
	</body>
</html>